* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container1 {
    justify-content: center;
    background-color: purple;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%
    }

.container2 {
    background-color:  orange;
    width: 250px;
    height: 200pxpx;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-right: 2%;
}

.parent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dodgerblue;
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.parent3 {
    display: flex;
    flex-direction: row; 
    width: 40%; 
    justify-content: center;
}


.parent4{
    background-color: aqua;
    width: 100%;
    height: 100px;
}


.h1 {
    background-color: yellowgreen;
    color : white;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    padding-top: 5px;
}

.n1 {
    background-color: orange;
    color : white;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}


.n2 {
    background-color: steelblue;
    color : white;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    padding-top: 5px;
}

.s{
    background-color: tomato;
    color : white;
    width: 250px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid black;
}

.navitem {
    background-color: rgb(23, 164, 127);
    color : white;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
}

.item {
    background-color: rgb(23, 164, 127);
    color : white;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
}

.m {
    background-color: purple;
    color : white;
    width: 100%; 
    height: 30px;
    text-align: center;
    padding-top: 5px;
}
.t {
    display: flex;
    background-color: red;
    color : white;
    width: 100%;
    height: 25px;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    justify-content: center;
}

.ga {
    background-color: blueviolet;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 4%;
    margin-top: 5px;
    margin-right: 50%;
    padding-bottom: 7%;
}

.w {
    background-color: purple;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 4%;
    margin-top: 5px;
    padding-bottom: 7%;
}

.card {
    background-color: rgb(151, 151, 68);
    margin-top: 1px;
    color: white;
    width: 100%;
    height: 25px;
    padding: 3px;
   
}

.c1 {
    background-color: brown;
    color: white;
    width: 100px;
    margin-left: 2%;
    margin-top: 5px;
    height: 40px;
    text-align: center;
    padding: 2%;
    border: 1px solid black;
    padding-bottom: 4%;
}

.c2 {
    background-color: rgb(1, 255, 30);
    color: white;
    width: 100px;
    margin-left: 2%;
    margin-top: 5px;
    height: 40px;
    text-align: center;
    padding: 2%;
    border: 1px solid black;
    padding-bottom: 4%;
}

.cb2 {
    background-color: rgb(21, 54, 245);
    color: white;
    width: 100px;
    margin-right: 2%;
    margin-top: 5px;
    height: 40px;
    text-align: center;
    padding: 2%;
    border: 1px solid black;
    padding-bottom: 4%;
}

.crd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.semua {
    display: flex;
    justify-content: center;
}
